<div class="container-fluid">
  <br>

  <div class="container">
    <h2>Solicitações de fechamento</h2>
    <div class="row">

      <div class="col-md-4 .addScroll">
        <app-pagamentos-list (closesSelected)="selected($event)"></app-pagamentos-list>
      </div>

      <div class="col-md-8" *ngIf="selectedLine">
        <div class="row">
          <div class="row col-md-8">
            <label>Mesa: 0{{closingSelected.mesa}}</label>
          </div>
        </div>

        <div class="row">
            <div class="row col-md-8">
              <label>Cliente: {{closingSelected.emailDoCliente}}</label>
            </div>
          </div>

        <div class="row">
          <div class="row col-md-3">
            <label>Valor total: {{closingSelected.valorTotal}}</label>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="btn-group" role="group">
            <button class="btn btn-default infPgto" (click)="pay()">
              Informar Pagamento</button>
          </div>
        </div>
        <!-- <div class="row">
          <div class="form-check col-md-3">
            <div class="chkPercentual">
              <input type="checkbox" class="form-check-input" [checked]="closingSelected.estaPago" (change)="closingSelected.estaPago = !closingSelected.estaPago"
                (click)="pay()">
              <label class="form-check-label" for="chkStatus" id="chkStatusDec">Marcar como pago</label>
            </div>
          </div>
        </div> -->
      </div>
    </div>

  </div>
</div>