<div class="corpo-menu">
  <div class="container-fluid">
      <div class="container">
          <div class="row">
              <div class="col-sm-4">
                  <a href="cadastro-empresa">
                      <div class="panel panel-primary">
                          <div class="panel-body">
                              <div class="card" id="Card">
                                  <div class="card-body">
                                      <h5 class="card-title">Empresa</h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </a>

              </div>
              <div class="col-sm-4">
                  <a href="cadastro-item">
                      <div class="panel panel-primary">
                          <div class="panel-body">
                              <div class="card" id="Card">
                                  <div class="card-body">
                                      <h5 class="card-title">Produto</h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col-sm-4">
                  <a href="pedido">
                      <div class="panel panel-primary">
                          <div class="panel-body">
                              <div class="card" id="Card">
                                  <div class="card-body">
                                      <h5 class="card-title">Pedidos</h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
      <br>
  </div>
</div>