<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <ul class="list-unstyled quick-links">
          <li><a href="home"><i class="fa fa-angle-double-right"></i>Home</a></li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p>Ei Chefe! Bares e Restaurantes</p>
        <p class="h6">Todos os direitos reservados.<a class="text-green ml-2" href="" target="_blank">Sunlimetech</a></p>
      </div>
    </div>	
  </div>
</section>