.item-menu-direita{
    display: inline-block;
    float: right;
    margin: 0px 4px;
    padding: 1px 9px;
    background-color: #4b4d4f;
    color: #ffffff;
    border-radius: 5px;
}
.item-menu-direita:hover{
    font-weight: bold;
}
