<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="emAberto">
      <mat-header-cell *matHeaderCellDef>
        <label>Em Aberto</label>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="getValue(row)"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="numero">
      <mat-header-cell *matHeaderCellDef> Mesa </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.numero}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="getSelectedRow(row)">
    </mat-row>
  </mat-table>
</div>
