<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <!-- Checkbox Column -->
      <ng-container matColumnDef="pedidoEmAberto">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
  
      <!-- Position Column -->
     
  
      <!-- Name Column -->
      <ng-container matColumnDef="codigoDoItem">
        <mat-header-cell *matHeaderCellDef> Código do item </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.codigoDoItem}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="descricaoDoItem">
        <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descricaoDoItem}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="quantidadePedida">
        <mat-header-cell *matHeaderCellDef> Quantidade </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quantidadePedida}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="valorDoPedido">
        <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.valorDoPedido}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="observacoes">
        <mat-header-cell *matHeaderCellDef> Observações </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.observacoes}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               (click)="selection.toggle(row)">
      </mat-row>
    </mat-table>
  </div>
  
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->