<!-- <label>Mesa: {{table.numero}}</label> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid" id="tabels">
                <h1>Pedidos em aberto</h1>
                <app-order-list (order)="orderSelected($event)"></app-order-list>
            </div>
        </div>
        <div class="col-md-6">
            <div *ngIf="selectedOrder">
                <app-order-itens [order]="order"></app-order-itens>
            </div>
        </div>

    </div>
</div>